<p id="notice"><%= notice %></p>

<div class="container"> 

 <%= render 'filter' %>

    <% if @posts.empty? %>
        <hr>
        <h3>No Results Found <h3>
    <% else %>


        
        <table class="table table-hover table-condensed">
          <thead>
            <tr>
              <th class = "center">Preview</th>
              <th class = "center" width = "45%">Heading</th>
              <th class = "center">Price</th>
              <th class = "center">Beds</th>
              <th class = "center">Bath</th>
              <th class = "center">Neighborhood</th>
              <th class = "center">Last Updated</th>
            </tr>
          </thead>

          <tbody>
            <% @posts.each do |post| %>
              <tr>
                <td width = "13%" height = "120px">
                  <%= link_to posts_path(post) do %>
                          <% if post.images.empty? %>
                      <%= image_tag "http://www.necdisplay.com/images/Products340x340/ImageNotAvailable.png", class: "thumbnail" %>
                            <% else %>
                            <%= image_tag post.images.first.url, class: "thumbnail" %>
                        <%end%>

                </td>
                <%end%>
                <td style = "vertical-align:middle"> <%= link_to post.heading, post %></td>
                <td class = "center" style = "vertical-align:middle"><%= number_to_currency(post.price, precision: 0) %></td>
                <td class = "center" style = "vertical-align:middle"><%= post.bedrooms %> </td>
                <td class = "center" style = "vertical-align:middle"><%= post.bathrooms %> </td>
                <td class = "center" style = "vertical-align:middle"><%= post.neighborhood %></td>
                <td class = "center" style = "vertical-align:middle"><%= "#{time_ago_in_words(Time.at(post.timestamp.to_i))} ago" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
  </div>

  <div class="container"> 

    <%= paginate @posts, :theme => 'twitter-bootstrap-3' %>

  </div>


<%end%>
</div>
